<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/public">
<head>
    <title>Caz nou:: AlertMed</title>
</head>
<body>

<div class="pusher" layout:fragment="content">

    <div class="ui inverted vertical center aligned segment">
        <div th:replace="fragments/misc :: top_menu"/>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="eight wide centered column">
                <form id="new-alert" method="POST" action="/cazuri" class="ui form">
                    <h2 class="ui dividing header">Introduceți Alerta</h2>
                    <div class="two fields">
                        <div class="field">
                            <label>Nume</label>
                            <input type="text" name="name" placeholder="Nume"/>
                        </div>
                        <div class="field">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Localitate</label>
                            <input type="text" name="location" placeholder="Localitate"/>
                        </div>
                        <div class="field">
                            <label>Telefon</label>
                            <input type="text" name="phone" placeholder="Telefon"/>
                        </div>
                    </div>
                    <div class="field">
                        <label>Medicament</label>
                        <input type="text" name="medicine" placeholder="Medicament"/>
                    </div>
                    <div class="field">
                        <label>Detalii problemă</label>
                        <textarea name="problem" rows="2"></textarea>
                    </div>
                    <h4 class="ui dividing header">Informații opționale</h4>

                    <div class="two fields">
                        <div class="field">
                            <label>Vârstă</label>
                            <input type="text" name="age" placeholder="Vârstă"/>
                        </div>
                        <div class="field">
                            <label>Sex</label>
                            <select name="sex" class="ui dropdown">
                                <option value="">Alegeți</option>
                                <option value="M">Masculin</option>
                                <option value="F">Feminin</option>
                            </select>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Afecțiune</label>
                            <input type="text" name="affection" placeholder="Afecțiune"/>
                        </div>
                        <div class="field">
                            <label>Pacient</label>
                            <input type="text" name="pacient" placeholder="Nume pacient"/>
                        </div>
                    </div>

                    <button class="ui button submit">Trimite</button>
                    <button class="ui button reset">Șterge</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>