<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/public">
<head>
    <title>Medicamente rare :: AlertMed</title>
</head>
<body>

<div class="pusher" layout:fragment="content">

    <div class="ui inverted vertical center aligned segment">
        <div th:replace="fragments/misc :: top_menu"/>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui centered grid container">

            <div class="row">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt large" type="text" placeholder="Cauta nume, localitate, medicament ..."/>
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>

            <div class="ui one stackable cards">
                <div th:each="case : ${context.get('cases')}" class="card">
                    <div th:include="fragments/misc :: case_card(${case})" th:remove="tag"/>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>